* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
<<<<<<< HEAD
    scroll-behavior: smooth;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

:target {
    scroll-margin-top: .8em;
=======
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: .8em;
>>>>>>> df506c5d2ad0acc16c718d90369f68a86447ccae
}

header {
    background-color: black;
    height: 10vh;
    /* 10% da altura do dispositivo */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    color: white;
    padding: 10px;
}


main {
    min-height: 80vh;
}

footer {
    height: 10vh;
}

.nav #ul {
    list-style-type: none;
}

.nav li {
    display: inline;

}

.nav a {
    text-decoration: none;
    color: white;
    padding: 12px;
    transition: 0.4s;
}

.nav a:hover {
    color: beige;
}

.main {
    margin: 0 auto;
    width: 75vw;
}

.main h1 {
    padding: 10px 0;
}

#titulo {
    padding: 0 0;
    margin-bottom: 10px;
}

p {
    margin: 10px 0;
    line-height: 1.5;
}

ul,
ol {
    margin-left: 25px;
}

.titulo-dois {
    margin-top: 10px;
}

.links {
    background-color: aqua;
    margin-top: 10px;
}

.links hr {
    margin: 12px 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: brown;
    color: white;
}

span {
    font-weight: bold;
}
<<<<<<< HEAD

form, #form-title {
    width: 450px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-group label {
    font-weight: bold;
    font-size: 0.9em;
    margin-bottom: 0.4em;
}

.form-group input,
.form-group textarea {
    padding: 0.6em;
    color: #777;
    font-size: 0.8em;
}

input[type="submit"] {
    background-color: #efefef;
    border-radius: 5px;
    padding: 0.6em 1em;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
    border: 2px solid transparent;
    transition: 0.4s;
}

input[type="submit"]:hover {
    color: #616161;
    border-color: #efefef;
    background-color: transparent;
}

input[type="reset"] {
    background-color: #ff3913;
    color: #fff;
    border-radius: 5px;
    padding: 0.6em 1em;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
    border: 2px solid transparent;
    transition: 0.4s;
}

input[type="reset"]:hover {
    color: #616161;
    border-color: #ff3913;
    background-color: transparent;
}
=======
>>>>>>> df506c5d2ad0acc16c718d90369f68a86447ccae
